  <%=form_with model: @employee do |form| %>
    <div class= 'row'>
      <div class= 'col-lg-4'>
        <div class = 'form-group'>
          <%= form.label :first_name, "First Name:", class: 'mb-2'%>
          <%= form.text_field :first_name, class: 'form-control form-control-lg' %>
          <% @employee.errors.full_messages_for(:first_name).each do |error|%>
            <p class='text-danger'><%= error%></p>
          <%end%>
      </div>
      </div>
      <div class= 'col-lg-4'>
        <div class = 'form-group'>
          <%= form.label :last_name, "Last Name:", class: 'mb-2'%>
          <%= form.text_field :last_name, class: 'form-control form-control-lg' %>
          <% @employee.errors.full_messages_for(:last_name).each do |error|%>
           <p class='text-danger'><%= error%></p>
          <%end%>
      </div>
      </div>
    </div>
    <div class= 'row'>
      <div class= 'col-lg-4'>
        <div class = 'form-group'>
          <%= form.label :personal_email, "Email:", class: 'mb-2'%>
          <%= form.email_field :personal_email, class: 'form-control form-control-lg' %>
          <% @employee.errors.full_messages_for(:personal_email).each do |error|%>
            <p class='text-danger'><%= error%></p>
          <%end%>
      </div>
      </div>
      <div class= 'col-lg-4'>
        <div class = 'form-group'>
          <%= form.label :phone_number, "Phone Number:", class: 'mb-2'%>
          <%= form.text_field :phone_number, class: 'form-control form-control-lg' %>
           <% @employee.errors.full_messages_for(:phone_number).each do |error|%>
            <p class='text-danger'><%= error%></p>
          <%end%>
      </div>
      </div>
    </div>
    <div class= 'row'>
      <div class= 'col-lg-2'>
        <div class = 'form-group'>
          <%= form.label :city, "City:", class: 'mb-2'%>
          <%= form.text_field :city, class: 'form-control form-control-lg' %>
          <% @employee.errors.full_messages_for(:city).each do |error|%>
            <p class='text-danger'><%= error%></p>
          <%end%>
      </div>
      </div>
      <div class= 'col-lg-2'>
        <div class = 'form-group'>
          <%= form.label :pincode, "Pincode:", class: 'mb-2'%>
          <%= form.text_field :pincode, class: 'form-control form-control-lg' %>
          <% @employee.errors.full_messages_for(:pincode).each do |error|%>
            <p class='text-danger'><%= error%></p>
          <%end%>
      </div>
      </div>
      <div class= 'col-lg-2'>
        <div class = 'form-group'>
          <%= form.label :state, "State:", class: 'mb-2'%>
          <%= form.text_field :state, class: 'form-control form-control-lg' %>
          <% @employee.errors.full_messages_for(:state).each do |error|%>
            <p class='text-danger'><%= error%></p>
          <%end%>
      </div>
      </div>
      <div class= 'col-lg-2'>
        <div class = 'form-group'>
          <%= form.label :country, "Country:", class: 'mb-2'%>
          <%= form.text_field :country, class: 'form-control form-control-lg' %>
      </div>
      </div>
    </div>
    <div class='row'>
      <div class = 'col-lg-12 mt-5'>
        <%= form.submit class: 'btn btn-primary btn-lg'%>
        <%= link_to 'Back to Employees', employees_path , class: 'btn btn-outline-primary btn-lg mx-5'%> 
      </div>
    </div>
  <%end%>
</div>